h1 {
	font-weight: 700;
	margin-top: 1.13em;
}

h1, h2 {
	font-size: 250%;
}

h3 {
	font-size: 175%;
}

h4 {
	font-size: 150%;
}

a {
	color: blue;
	text-decoration: underline;
}

div[role="main"], main {
	border-top: solid thin black;
}

.counter {
	counter-reset: olc;
}

li:before {
	counter-increment: olc;
	content: counter(olc) ". ";
}

li {
	margin-left: 5em;
}

li:not([aria-setsize]) {
	display: list-item;
	list-style-type: circle;
}

footer {
	font-size: 85%;
	padding: 1em;
	border-top: solid thin black;
}
